.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin:100px 50px ;
}
.cart-container{
    background-color: tomato;
}
.pegination{
    margin-left:30px;
    margin-bottom: 50px;
}
.pegination button{
    margin-right: 10px;
}
.pegination .selected{
    background-color: goldenrod;
    border: gold;
    font-weight: bold;
    padding: 10px;
    width: 40px;
}